* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    background-color: #333;
}

header {
    position: relative;
    background-color: #333;
    color: #fff;
    padding: 0 1rem;
}

.navigation {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation .logotext a {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

 .navigation .links{
    list-style: none;
    display: flex;
    margin: 0 10px;
    gap: 2rem;
}


a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #555;
}

.hamburger {
    background-color: #e74c3c;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hamburger:hover {
    background-color: #c0392b;
}

.navigation .toggle {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.dropdown{
    display: none;
    position: absolute;
    height: 0;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: heigt 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown.open{
    height: 240px;
}

.dropdown li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown .hamburger{
    width: 100%;
    display: flex;
    justify-content: center;
}


.container{
    display: flex;
    justify-content: space-between;

}

.container ul{
    list-style: none;
}

.spot{
    border: 2px solid black; 
    color: white;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px; 
    text-align: center;
    font-size: 28px;
    width: 300px;
    height: 500px; 
    padding: 10px; 
    margin-left: 20px;
    margin-top: 50px;
    margin-right: 20px;
}
.spot:hover{
    background-color: #e74c3c;
}


@media (max-width: 992px) {
    .navigation .links,
    .navigation .hamburger{
        display: none;
    }
    .navigation .toggle{
        display: block;
    }
    .dropdown{
        display: block;
    }
    .navigation .logotext a{
        font-size: 17px;
    }

    .spot {
        border: 2px solid black;
        color: white;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        text-align: center;
        font-size: 10px;
        width: 100px;
        height: 200px;
        padding: 10px;
        margin-left: 20px;
        margin-top: 50px;
        margin-right: 20px;
    }
}

@media (max-width: 576px){
    
    .dropdown{
        left: 2rem;
        width: unset;
    }
}