<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <header>
        <div class="navigation">
            <div class="logotext">
                <a href="#">SMART PARKING GUIDING SYSTEM</a>
            </div>
                <ul class="links">
                    <li><a href="#">How this Works?</a></li>
                    <li><a href="#">Prices</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
                <a href="login.html" class="hamburger">Log Out</a>
                <div class ="toggle">
                    <i class="fa-solid fa-bars" aria-hidden="true"></i>
                </div>
            </div>

            <div class="dropdown">
                <li><a href="#">How this Works?</a></li>
                <li><a href="#">Prices</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="login.html" class="hamburger">Log Out</a></li>

            </div>
    </header>

        <div class="container">
            <div class="spot">Your Parking Space is - {{ suitable_slot }}</div>
            <div class="spot">Parking Slots Availability:
                <ul>
                    <li>Slot 1: {{ slot_1 }}</li>
                    <li>Slot 2: {{ slot_2 }}</li>
                    <li>Slot 3: {{ slot_3 }}</li>
                </ul>
            </div>
            <div class="spot">Vehicle Size Guidance - {{ vehicle_size }}</div>
        </div>
    
</body>

<script>
        const toggle = document.querySelector('.toggle');
        const toggleIcon = document.querySelector('.toggle i');
        const dropdown = document.querySelector('.dropdown');

        toggle.onclick = function(){
            dropdown.classList.toggle('open')
            const isOpen = dropdown.classList.contains('open')

            toggleIcon.classList = isOpen
            ? 'fa-solid fa-xmark'
            : 'fa-solid fa-bars'
        }
</script>


</html>